html {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

.cv-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: white;
    border-radius: 5%;
    width: 80%;
    height: 600px;
    padding: 20px 10px;
}

.cv-title {
    text-align: center;
    font-size: 30px;
}

.cv-subtitle {
    display: flex;
    justify-items: center;
    gap: 50px;
    padding: 5px 0px;
}
